@model Student
<form asp-controller="FileUpload" asp-action="Upload" enctype="multipart/form-data">
	<input type="file" name="file"/>
	<input type="submit" value="Upload"/>
</form>
<h3 class="text-center my-3">Add student</h3>	
<form asp-action="Create">
	<div class="form-group">
		<label asp-for="@Model.FirstName" class="fw-bold"></label>
		<input asp-for="@Model.FirstName" type="text" class="form-control" required/>
	</div>
	<div class="form-group">
		<label asp-for="@Model.LastName" class="fw-bold"></label>
		<input asp-for="@Model.LastName" type="text" class="form-control" required/>
	</div>
	<div class="form-group">
		<label asp-for="@Model.DateOfBirth" class="fw-bold"></label>
		<input asp-for="@Model.DateOfBirth" type="date" class="form-control" required/>
	</div>
	<input class="btn btn-success mt-3 button" type="submit" value="Create"/>
	<button class="button btn btn-warning mt-3 mx-3" asp-action="Index">Back</button>
</form>
