@using ASP.NETSchool.ViewModels
@model RoleEditViewModel

<h3 class="text-center">Edit Role members</h3>
<div asp-validation-summary="All" class="text-danger m-3"></div>
<div class="d-flex justify-content-end" >
	<a class="btn btn-warning mx-3 buttonL" asp-action="Index">Back to role list</a>
	<button form="RolesAdd" type="submit" class="btn btn-success buttonL">Save changes</button>
</div>
<form id="RolesAdd" method="post" class="m-3">
	<input type="hidden" value="@Model.Role.Name" name="RoleName" />
	<input type="hidden" value="@Model.Role.Id" name="RoleId"  />
	<table class="table table-bordered m-3">
		@if (Model.NonMembers.Count() == 0) {
			<tr class="bg-danger bg-opacity-25">
				<th><h4 class="text-center">Add to @Model.Role.Name</h4></th>
			</tr>
			<tr>
				<td class="text-secondary text-center fw-bolder">All users have this role</td>
			</tr>
		}
		else {
			<tr class="bg-danger bg-opacity-25">
				<th><h4 class="text-center">Add to @Model.Role.Name</h4></th>
			</tr>
		}
		@foreach(var nonMember in Model.NonMembers) {
			<tr class="d-flex justify-content-between bg-primary bg-opacity-25">
				<td class="bg-primary bg-opacity-50 w-100 fw-bold">@nonMember.UserName</td>
				<td class="bg-warning bg-opacity-50"><input type="checkbox" name="IdsToAdd" value="@nonMember.Id"/> </td>
			</tr>
		}
	</table>
	<table class="table table-bordered m-3">
		@if (Model.Members.Count() == 0) {
			<tr class="bg-danger bg-opacity-25">
				<th><h4 class="text-center">Remove from @Model.Role.Name</h4></th>
			</tr>
			<tr>
				<td class="text-secondary text-center fw-bolder bg-warning bg-opacity-50 ">Nobody has this role</td>
			</tr>
		}
		else {
			<tr class="bg-danger bg-opacity-25">
				<th><h4 class="text-center">Remove from @Model.Role.Name</h4></th>
			</tr>		
		}
		@foreach (var members in Model.Members) {
			<tr class="d-flex justify-content-between bg-primary bg-opacity-25">
				<td class="bg-primary bg-opacity-50 w-100 fw-bold">@members.UserName</td>
				<td class="bg-warning bg-opacity-50"><input type="checkbox" name="IdsToDelete" value="@members.Id" /> </td>
			</tr>
		}
	</table>
</form>
